<body>/
    <div class="page-header">
      <section class="top-nav">
        <img src="resources/images/redlogo.jpg" class="item" alt="logo" />
        <div class="item title">HONDA CIVIC TYPE R</div>
        <img src=".c:\lauid.jpg" class="item" alt="profile" />
      </section>
      <img src="resources/images/honda ek9.png" alt="banner" class="banner" />
    </div>
    <section class="navigation">
      <div>button</div>
      <div>button</div>
      <div>button</div>
      <div>button</div>
      <div>button</div>
    </section>